.line_chart {
  height: 300px;
  width: 100%;
}

#header {
  display: none;
}

h1 {
  margin: 0 0 25px 0;
  font-size: 35px;
  color: #2a5599;
  font-family: 'Droid Sans', Arial;
  font-weight: normal;
}

li.small {
  margin-right: 10px;
}

.legend li {
  float: left;
  margin-right: 1em;
  font-size: 18px;
}
