body {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
  color: #333;
}
#main {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 30px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

.widgets {
  float: left;
  background: #EEE;
  margin-top: 1em;
  margin-right: 1em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow:8px 8px 8px #666;
}
.canvas {
  padding-bottom: 10px;
  height: 200px;
  width: 1600px;
}

.line_chart {
  height: 400;
  width: 800;
}
