* { padding: 0; margin: 0; }

body {
  background: #d7d7d7 url('../images/bg.png') 0 0 repeat;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#wrapper {
  margin: 10px 0 0 2.7%;
  position: relative;
}

#legend {
  position: absolute;
  top: 12px;
  right: 2.7%;
}

#legend span {
  margin-left: 1em;
}

h1 {
  color: #004892;
  text-shadow: 1px 1px 1px #fff;
  font-size: 32px;
  margin-bottom: 20px;
}

#widgets {
  list-style: none;
}

#widgets li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  clear: both;
  margin-right: 2.7%;
  margin-bottom: 20px;
  display: block;
}

#widgets li.minimized {
  float: left;
  width: 48%;
  clear: none;
  margin: 0 1% 20px 0;
}

#widgets li.minimized .container {
  padding-bottom: 0;
}

#widgets li .header {
  margin-top: 5px;
  padding: 5px 15px 3px 15px;
  background: -moz-linear-gradient(top, #fff, #e6e6e6);
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  border-bottom: 1px solid #ccc;
}

#widgets li h2 {
  font-weight: normal;
  font-size: 20px;
  color: #363636;
  float: left;
  text-transform: capitalize;
  height: 32px;
  cursor: move;
  padding-right: 35px;
}

#widgets li h2.warn {
  color: #de1F00;
  background: transparent url('../images/warn.png') 100% 20% no-repeat;
}

#widgets li .header .values {
  float: right;
  font-size: 25px;
}

#widgets li .header .values span {
  margin-left: 1em;
}

#widgets li .container {
  padding: 5px 20px;
  overflow: hidden;
}

.line_chart {
  height: 320px;
  width: 100%;
  display: block;
}

.clear {
  clear: both;
}
