* { padding: 0; margin: 0; }

body {
  background: #d7d7d7 url('../images/bg.png') 0 0 repeat;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#wrapper {
  width: 92%;
  min-width: 600px;
  margin: 10px auto 0 auto;
  position: relative;
}

#legend {
  position: absolute;
  top: 15px;
  right: 0;
}

#legend span {
  margin-left: 1em;
}

h1 {
  color: #004892;
  text-shadow: 1px 1px 1px #fff;
  font-size: 30px;
}

#widgets {
  list-style: none;
}

#widgets li {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#widgets li .header {
  margin-top: 5px;
  padding: 5px 15px 10px 15px;
  background: -moz-linear-gradient(top, #fff, #e6e6e6);
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  border-bottom: 1px solid #ccc;
}

#widgets li h2 {
  font-weight: normal;
  font-size: 18px;
  color: #363636;
  float: left;
  padding-top: 1px;
  text-transform: capitalize;
}

#widgets li .header .values {
  float: right;
  font-size: 22px;
}

#widgets li .header .values span {
  margin-left: 1em;
}

#widgets li .container {
  padding: 5px;
}

.clear {
  clear: both;
}
