* { padding:0; margin:0; }

body {
  background: #fbfbfb url(../images/bg.jpg) 0 0 repeat;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  color: #666;
  line-height: 20px;
  -webkit-text-size-adjust: none;
  }
 
:focus { -moz-outline-style: none; }
  
p { padding-bottom: 15px; }
img, a img { border: 0; }
ul li { list-style: none; }
.clear { clear: both; }

a {
  color: #008ee8;
  text-decoration: none;
  outline: none;
  }
  
a:hover {
  color: #ec8526;
  text-decoration: none;
  } 
  
#hld {
  background: url(../images/hld.jpg) 0 0 repeat-x;
  min-height: 402px;
  }
  
.wrapper {
  width:90%;
  min-width: 960px;
  margin:0 auto;
  padding-top: 20px;
  }


/* Header */

#header {
  height: 50px;
  line-height: 50px;
  background: url(../images/hdr.gif) 0 0 repeat-x;
  color: #999;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
#header .hdrl {
  width: 20px;
  height: 50px;
  float: left;
  background: url(../images/hdrl.gif) top left no-repeat;
  }

#header .hdrr {
  width: 20px;
  height: 50px;
  float: right;
  background: url(../images/hdrr.gif) top right no-repeat;
  }
  
#header a {
  color: #999;
  text-decoration: none;
  }

#header a:hover { color: #fff; }
  
#header h1 {
  float: left;
  margin-right: 80px;
  font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  }

#header h1 a { color: #fff; }
#header h1 a:hover { color: #008ee8; }
  

/* Navigation */
#header #nav, #header #nav * { z-index: 20; }
 
#header #nav {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: auto; /*For KHTML*/
  list-style: none;
  height: 50px;
  padding: 0;
  float: left;
  }

#header #nav li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 50px;
  padding: 0 10px;
  background: url(../images/nsp.gif) center right no-repeat;
  line-height: 50px;
  }
  
#header #nav li.nobg { background: none; }

#header #nav ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 190px;
  list-style: none;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  }

#header #nav ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
  }

#header #nav ul li {
  width: 190px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  position: relative;
  top: 0;
  height: 30px;
  line-height: 30px;
  padding: 0;
  background: none;
  }
    
/* Root Menu */
#header #nav a {
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  height: auto !important;
  height: 1%; /*For IE*/
  height: 30px;
  padding: 0 10px;
  }
  
#header #nav li.active a { color: #ddd; }
#header #nav li.active a:hover { color: #fff; }

#header #nav a.hasmore {
  border: 1px solid red;
  }

/* Root Menu Hover Persistence */
#header #nav a:hover,
#header #nav li:hover a,
#header #nav li.iehover a {
  color: #fff;
  }

/* 2nd Menu */
#header #nav li:hover li a,
#header #nav li.iehover li a {
  text-transform: none;
  padding: 0 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 30px;
  color: #999;
  background: url(../images/mbg.png) 0 0 repeat;
  }

/* 2nd Menu Hover Persistence */
#header #nav li:hover li a:hover,
#header #nav li:hover li:hover a,
#header #nav li.iehover li a:hover,
#header #nav li.iehover li.iehover a {
  color: #fff;
  background: #000;
  }

/* 3rd Menu */
#header #nav li:hover li:hover li a,
#header #nav li.iehover li.iehover li a {
  float: none;
  color: #999;
  background: url(../images/mbg.png) 0 0 repeat;
  }

/* 3rd Menu Hover Persistence */
#header #nav li:hover li:hover li a:hover,
#header #nav li:hover li:hover li:hover a,
#header #nav li.iehover li.iehover li a:hover,
#header #nav li.iehover li.iehover li.iehover a {
  color: #fff;
  background: #000;
  }

/* Blocks */

.block {
  padding-bottom: 5px;
  margin-bottom: 25px;
  clear: both;
  background: #fff url(../images/bnd.gif) bottom center repeat-x;
  }

.block .bendl {
  width: 5px;
  height: 5px;
  background: url(../images/bendl.gif) bottom left no-repeat;
  float: left;
  }

.block .bendr {
  width: 5px;
  height: 5px;
  background: url(../images/bendr.gif) bottom left no-repeat;
  float: right;
  }
  

/* Block head */

.block .block_head {
  height: 54px;
  line-height: 54px;
  background: url(../images/bhead.gif) 0 0 repeat-x;
  overflow: hidden;
  }

.block .block_head .bheadl {
  width: 20px;
  height: 54px;
  float: left;
  background: url(../images/bheadl.gif) top left no-repeat;
  }

.block .block_head .bheadr {
  width: 20px;
  height: 54px;
  float: right;
  background: url(../images/bheadr.gif) top right no-repeat;
  }
  
.block .block_head h2 {
  font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #555;
  text-shadow: 1px 1px 0 #fff;
  float: left;
  }
  
.block .block_head ul {
  float: right;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  }
  
.block .block_head ul li {
  display: inline;
  padding: 3px 0;
  padding-left: 20px;
  background: url(../images/phs.gif) 7px center no-repeat;
  }
  
.block .block_head ul li.nobg { background: none; }
  
.block .block_head ul li a {
  text-decoration: none;
  color: #666;
  outline: none;
  }

.block .block_head ul li.active a { color: #888; }
.block .block_head ul li a:hover { color: #008ee8; }

.block .block_head form {
  float: right;
  padding: 15px 0;
  height: 34px;
  line-height: 24px;
  }

.block .block_head form .text {
  width: 129px;
  height: 15px;
  padding: 5px 10px 5px 25px;
  border: 0;
  font-size: 11px;
  color: #999;
  margin: 0;
  background: url(../images/srch.gif) left center no-repeat;
  }

.block .block_head form .text:focus {
  color: #666;
  background: url(../images/srch_.gif) left center no-repeat;
  }

.block .block_head select {
  text-transform: none;
  }

/* Block content */

.block .block_content {
  overflow: hidden;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 20px 0;
  }

.block .block_content h1,
.block .block_content h2 {
  font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #454545;
  margin-bottom: 10px;
  }

.block .block_content h3 {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-bottom: 5px;
  }

.block .block_content h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #666;
  margin-bottom: 5px;
  }
  
.block table {
  text-align: left;
  margin-bottom: 15px;
  }

.block table tr.even td {
  background: #fbfbfb;
  }
  
.block table tr td,
.block table tr th {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  line-height: normal;
  text-align: left;
  }

.block table tr th.headerSortUp {
  color: #333;
  background: url(../images/sortd.gif) 95% center no-repeat;
  }

.block table tr th.headerSortDown {
  color: #333;
  background: url(../images/sorta.gif) 95% center no-repeat;
  }
  
.block table tr td.delete {
  text-align: right;
  font-size: 11px;
  }
  
.block table tr td.delete a { color: #666; }
.block table tr td.delete a:hover { color: #dd0000; }

.block .tableactions {
  overflow: hidden;
  padding-bottom: 20px;
  float: left;
  }

.block .tableactions select {
  width: 100px;
  margin-right: 5px;
  vertical-align: middle;
  outline: none;
  }

.block .pagination {
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  }

.block .pagination.right {
  float: right;
  text-align: right;
  padding-top: 1px;
  border: 0;
  width: 500px;
  overflow: hidden;
  }

.block .pagination a {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 6px;
  margin: 0 1px;
  }

.block .pagination a.active {
  background: #39a3e6;
  border: 1px solid #0082d5;
  color: #fff;
  }

.block .pagination a:hover {
  color: #fff;
  background: #ec8526;
  border: 1px solid #d77011;
  }

.block .block_content ul {
  padding-left: 15px;
  padding-bottom: 15px;
  }
  
.block .block_content ol {
  padding-left: 15px;
  padding-bottom: 15px;
  list-style-position: inside;
  }

.block .block_content ul li {
  margin-bottom: 5px;
  padding-left: 15px;
  background: url(../images/li.gif) 0 7px no-repeat;
  }
  
.block .block_content ol li {
  margin-bottom: 5px;
  }
  
.block hr {
  height: 1px;
  border: 0;
  background: no-repeat;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  }
  
.block .block_content .breadcrumb {
  color: #666;
  background: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  padding: 9px 12px;
  line-height: normal;
  margin-bottom: 10px;
  font-size: 11px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
  }
  
  
/* Messages */
  
.block .message {
  padding: 10px 15px 10px 40px;
  margin: 10px 0;
  font-weight: bold;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  }

.block .message p {
  padding: 0;
  width: 93%;
  float: left;
  }
  
.block .message.errormsg {
  border: 1px solid #e9c59b;
  background: #ffecce url(../images/error.gif) 12px 12px no-repeat;
  color: #e3302c;
  }
  
.block .message.success {
  border: 1px solid #bfde84;
  background: #edfbd8 url(../images/success.gif) 12px 12px no-repeat;
  color: #508600;
  }
    
.block .message.info {
  border: 1px solid #bbdbe0;
  background: #ecf9ff url(../images/info.gif) 12px 12px no-repeat;
  color: #0888c3;
  }
  
.block .message.warning {
  border: 1px solid #e5e181;
  background: #fefde2 url(../images/warning.gif) 12px 12px no-repeat;
  color: #666;
  }
  
.block .message .close {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url(../images/close.png) 0 0 no-repeat;
  margin-top: 2px;
  cursor: pointer;
  -moz-opacity: 0.7;
  opacity: 0.7;
  }
  
.block .message .close.hover {
  -moz-opacity: 1;
  opacity: 1;
  }


/* Forms */

.block form p {
  overflow: hidden;
  clear: both;
  }

.block form label {
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  margin-right: 10px;
  vertical-align: middle;
  }

.block form input.text {
  width: 410px;
  background: #fefefe;
  border: 1px solid #bbb;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  vertical-align: middle;
  }

.block form input.text.medium { width: 600px; }
.block form input.text.big { width: 98%; }

.block form input.text.date_picker {
  width: 100px;
  padding-right: 36px;
  cursor: pointer;
  background: url(../images/cal.jpg) center right no-repeat;
  }

.block form textarea {
  width: 98%;
  height: 140px;
  padding: 5px;
  background: #fefefe;
  border: 1px solid #bbb;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  }
  
.block form textarea.wysiwyg { width: 98%; padding: 0; }
  
.block form input.radio,
.block form input.checkbox {
  vertical-align: middle;
  }


/* Custom form select element */

.block form select.styled {
  width: 245px;
  height: 18px;
  margin-right: 20px;
  cursor: pointer;
  }
  
.block form .cmf-skinned-select {
  padding: 7px;
  display: block;
  margin-right: 20px;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url('../images/sdd.jpg') center right no-repeat;
  }

.block form .cmf-skinned-select:hover {
  background: url('../images/sdd_.jpg') center right no-repeat;
  }

.block form div.cmf-skinned-text {
  padding: 5px 7px;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333;
  }
  
  
/* Custom file input */

.block form .fileupload {
  position: relative;
  }

.block form .fileupload #uploadmsg {
  display: block;
  position: absolute;
  top: 20px;
  left: 350px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  font-size: 11px;
  }

.block form .fileupload #uploadmsg.loading {
  background: url(../images/ajax-loader.gif) center left no-repeat;
  width: 30px;
  padding-left: 20px;
  }
  
.block form input.file {
  width: 250px;
  height: 20px;
  background: #fefefe;
  border: 1px solid #bbb;
  border-right: 0;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 4px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
  }

.block form .note {
  padding-left: 10px;
  font-size: 11px;
  font-weight: bold;
  color: #757575;
  vertical-align: middle;
  }

.block form .note.error { color: #e3302c; }
      
.block form input.submit {
  width: 85px;
  height: 30px;
  line-height: 30px;
  background: url(../images/btns.gif) top center no-repeat;
  border: 0;
  font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 0 #0a5482;
  cursor: pointer;
}

/* Small blocks */
.block { width: 98.7% }
.block.small {
  width: 49%;
  background: #fff url(../images/bnd.gif) bottom center repeat-x;
  padding-bottom: 0;
  float: left;
  clear: none;
  }

.block.small.left { float: left; clear: none; }
.block.small.right { float: right; clear: none; }

.block.small .block_head { background: url(../images/bhead.gif) 0 0 repeat-x; }
.block.small .block_content { background: #fff; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }

.block.small .block_content input.text,
.block.small .block_content textarea { width: 96%; padding: 7px; }

.block.small.center {
  float: none;
  margin: 0 auto;
  }

/* Footer */

#footer {
  background: url(../images/ft.gif) 0 0 repeat-x;
  padding: 10px 0 50px;
  font-size: 10px;
  color: #757575;
  clear: both;
  overflow: hidden;
  }
  
#footer a {
  color: #757575;
  text-decoration: underline;
  }

#footer a:hover {
  color: #666;
  text-decoration: none;
  }
  
#footer .left {
  float: left;
  }
  
#footer .right {
  float: right;
  text-align: right;
  }

